:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: var(--primary-color);

  /*Variables Globales*/

--primary-color: #DC0A2D;
--color-bug:#A7B723;
--color-dark:#75574C;
--color-dragon:#7037FF;
--color-electric:#F9CF30;
--color-fairy:#E69EAC;
--color-fighting:#C12239;
--color-fire:#F57D31;
--color-flying:#A891EC;
--color-ghost:#70559B;
--color-normal:#AAA67F;
--color-grass:#74CB48;
--color-ground:#DEC16B;
--color-ice:#9AD6DF;
--color-poison:#A43E9E;
--color-psychic:#FB5584;
--color-rock:#B69E31;
--color-steel:#B7B9D0;
--color-water:#6493EB;

/*Gray scale*/


--color-gray-dark:#212121;
--color-gray-Medium:#666666;
--color-gray-Light:#E0E0E0;
--color-gray-Background:#EFEFEF;
--color-gray-White:#FFFFFF;

}
